<html>
    <body>
        <h1>Hello {{name}}</h1>
        <p>private key: {{ wallet.private_key }}</p>
        <p>public key: {{ wallet.public_key }}</p>
        <p>address: {{ wallet.address}}</p>
        <p>balance: {{ wallet.balance}}</p>
        <p>doc NFT:</p>
        <ul>
            {% for link in links %}
            <li><a href = "{{link[1]}}">{{ link[0] }}</a></li>
            {% endfor %}
        </ul>
        
        <p>transaction: </p>
        <ol>
            {% for tx in wallet.transaction %}
            <li>{{tx}}</li>
            {% endfor %}
        </ol>
        <button type="button" onclick="window.location.href='{{homelink}}'" class="cancelbtn">Back</button>
    </body>
    

</html>